@import "../../util.sass"

#header-container
  // background: $dark-grey2
  color: $black
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  height: 60px
  padding: 25px
  display: flex
  align-items: center
  position: sticky
  top: 0
  width: 100%

  
.header-title
  margin-left: 15px