* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  border: none; }

html {
  background: #FAFAFA; }

.App {
  color: #212121;
  height: 100%;
  width: 100%;
  display: flex; }

.content-wrapper {
  flex-grow: 1; }

a, a:visited {
  color: #212121; }

.content {
  padding: 15px 25px; }

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 37px; }
  .title-wrapper h2 {
    font-weight: 600;
    letter-spacing: 1.2px; }
  .title-wrapper:not(:first-of-type) {
    margin-top: 25px; }

.input-group {
  margin-bottom: 12px; }
  .input-group p:first-child {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.4;
    margin-bottom: 3px;
    margin-left: 1px; }
  .input-group p:not(:first-child) {
    font-size: 18px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 10px; }
  .input-group input, .input-group textarea {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    background: #EEEEEE;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0;
    height: 34px;
    transition: border 0.2s; }
    .input-group input:focus, .input-group textarea:focus {
      border: 2px solid #35AAB5; }
    .input-group input::placeholder, .input-group textarea::placeholder {
      opacity: 0.5; }
  .input-group textarea {
    resize: none;
    height: 113px; }
  .input-group .error {
    border: 2px solid #FC7B5A; }

.responsive-input-2col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-column-gap: 25px; }

.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px; }

.title-actions {
  display: flex; }

.btn {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px; }
  .btn:hover {
    background: #424242;
    color: #FAFAFA; }
  .btn:not(:last-of-type) {
    margin-right: 5px; }

.icon-btn {
  padding: 7px 9px;
  background: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.2s; }
  .icon-btn:hover {
    background: #424242;
    color: #FAFAFA;
    border: 1px solid transparent; }
  .icon-btn:not(:last-of-type) {
    margin-right: 5px; }

.positive {
  color: #4AE09C; }
  .positive:hover {
    background: #4AE09C;
    color: #FAFAFA; }

.negative {
  color: #FC7B5A; }
  .negative:hover {
    background: #FC7B5A;
    color: #FAFAFA; }

.tiny {
  width: 50px; }

.small {
  width: 100px; }

.medium {
  width: 200px; }

.large {
  width: 300px; }

.full-width {
  width: 100%; }

.loading-container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center; }

@media (min-width: 400px) {
  .content {
    padding: 20px 40px; } }
@media (min-width: 768px) {
  .content {
    padding: 30px 50px; } }

/*# sourceMappingURL=App.css.map */
