@import "./util.sass"
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  list-style: none
  outline: none
  font-family: $roboto
  letter-spacing: 0.5px
  border: none

html
  background: $white

.App
  color: $black
  height: 100%
  width: 100%
  display: flex

.content-wrapper
  flex-grow: 1
  
a, a:visited
  color: $black

.content
  padding: 15px 25px

//    PAGE TITLE     //
.title-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 15px
  height: 37px

  h2
    font-weight: 600
    letter-spacing: $spacing

  &:not(:first-of-type)
    margin-top: 25px

//     INPUTS      //
.input-group
  margin-bottom: 12px
  
  p:first-child
    text-transform: uppercase
    font-size: 12px
    font-weight: 600
    opacity: 0.4
    margin-bottom: 3px
    margin-left: 1px

  p:not(:first-child)
    font-size: 18px
    margin-left: 1px
    padding-top: 3px
    padding-bottom: 10px

  input, textarea
    padding: 8px
    font-size: 14px
    width: 100%
    background: $light-grey1
    outline: none
    border: 2px solid transparent
    border-radius: 0
    height: 34px
    transition: border 0.2s

    &:focus
      border: 2px solid $teal

    &::placeholder
      opacity: 0.5

  textarea
    resize: none
    height: 113px
  
.responsive-input-2col
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    grid-column-gap: 25px

//     BUTTONS     //
.btn-group
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-top: 25px
  
.title-actions
  display: flex

.btn
  padding: 10px 20px
  background: transparent
  border: 1px solid rgba(0, 0, 0, 0.05)
  border-radius: 5px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all 0.2s
  font-size: 14px

  &:hover
    background: $dark-grey2
    color: $white

  &:not(:last-of-type)
    margin-right: 5px

.icon-btn
  padding: 7px 9px
  background: transparent
  border-radius: 5px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  border: 1px solid rgba(0, 0, 0, 0.05)
  transition: all 0.2s

  &:hover
    // background: rgba(0, 0, 0, 0.1)
    background: $dark-grey2
    color: $white
    border: 1px solid transparent

  &:not(:last-of-type)
    margin-right: 5px

.positive
  color: $green

  &:hover
    background: $green
    color: $white

.negative
  color: $red

  &:hover
    background: $red
    color: $white

.tiny
  width: 50px

.small
  width: 100px

.medium
  width: 200px

.large
  width: 300px

.full-width
  width: 100%

//     LOADING     //
.loading-container
  display: flex
  margin-top: 60px
  justify-content: center
  align-items: center

@media (min-width: 400px)
  .content
    padding: 20px 40px

@media (min-width: 768px)
  .content
    padding: 30px 50px